.abc{
    text-align:left;
    position:relative;
    left: 5px;
    color: black;
    display: flex;
    flex-direction: column;
}
img{
    padding:20px;
}
a{
    text-size-adjust:initial;
    color:white; 
    text-decoration:none ;
}
 a{
    padding-left: 9%;
 }
 .container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 }

 